body {
	font-family: helvetica;
}
a {
	color: black;
	text-decoration: none;
}
.logo {
	padding-left: 25px;
	width: 100px;
	height: 100px;
}
.headerLink {
	text-align: left;
	padding: 20px;
	border-radius: 100px;
	font-size: 24px;
}
.headerLink:hover {
	background-color: #aaa;
}
p {
	text-align: left;
}

div {
	background-color: #eee;
	border: none;
	text-align: center;
	border-radius: 100px;
	margin: 20px;
	padding: 25px;
}
.contents {
	margin: auto;
	width: 50%;
}

input {
	display: block;
	border: none;
	cursor: pointer;
	font-size: 24px;
	margin: auto;
	padding: 5px;
	background-color: #ddd;
	border-radius: 25px;
}
#color {
	background-color: #fff;
	width: 150px;
	font-family: monospace;
}

h1, h2, h3 {
	text-align: center;
}
h1 {
	animation-duration: 3s;
	animation-name: rock;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
h2 {
	animation-duration: 2s;
	animation-name: rock;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.me {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 600px) {
	.headerLink {
		display: block;
	}
}

@keyframes rock {
	from {transform: rotate(-5deg);}
	to {transform: rotate(5deg);}
}
